{
  "version": "2018-05-29",
  "method": "GET",
  "resourcePath": "/api/tickers/",
  "params": {
    "query":$util.toJson($ctx.args),
    "headers": {
      "Authorization":"$ctx.request.headers.Authorization"
    }
  }
}